/*:root{
        PARA CRIAR VARIÁVEIS CSS
}*/
*{
    box-sizing: border-box;
}

/*body{
    box-sizing: border-box;
}*/

.principal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.principal__menu__lateral{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    gap: 10px;
    border: 1px solid black;
    height: 650px;
}

.principal__arquivos{
    margin-left: 10px;
    height: 100vh;
    width: 1000px;
    border: 1px solid black;
}

.principal__lista{
    display: flex;
    justify-content: space-between;
    
}

.menu__lateral__enviar{
    border: 1px solid black;
    border-radius: 4px;
    background-color: #F1F0E9;
    padding: 3px;
    font-size: small;
    text-align: center;
}

.menu__lateral__enviar:hover{
    background-color: gray;
    cursor: pointer;
}

#drop-area{
    background-color:aliceblue;
}

/*CLASSES DE EDIÇÃO DOS ÍCONES */

.icones__completos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
}

.icone__imagem {
    width: 30px;
    height: 30px;
}
 
.icone__leg{
    word-wrap: break-word;
    max-width: 100%;
}

/*Classes para edição arquivos abertos*/

.principal__arquivos__texto{
    width: 90%;
    height: 90%;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;    
}

.principal__arquivos__imagem{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;

}

.menuExclusao{
    display: none;
    position: absolute;
    width: 5%;
    height: 5%;
    background-color: black;
}