/*:root{
        PARA CRIAR VARIÁVEIS CSS
}*/

body{
    box-sizing: border-box;
}

.menu__lateral{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
    gap: 10px;
    border: 1px solid black;
    position: absolute;
    height: 650px;
}